@using FdaService.Models.Drug.Event
@using FaNgMvcBs2.ViewModels
@model DrugEventViewModel

@{
    ViewBag.Title = "MedFinder - Search Results";
}

<div class="inside-page">

    <nav role="navigation">
        <div class="container">
     @*       @Html.ActionLink("Search Again", "Search", "DrugEvent", new { @class = "back-link" })*@
            <a class="logo" href="/"><span>MedFinder</span></a>
        </div>
        <div class="logo visible-xs"></div>
    </nav>
    <!-- Header -->
    <div class="hero inside-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <h1>
                        <span class="small">RESULTS:</span>
                        <br /><strong>Drug Name</strong>
                    </h1>

                </div>
                <!-- /col -->

            </div>
            <!-- /row -->
            <div class="hero-img"></div>

        </div>
        <!-- /container -->
    </div>
    <!-- /header -->

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div id="tabs">
                    <div class="clearfix">
                        <ul>
                            <li><a href="#tabs-1">Quick <br />Overview</a></li>
                            <li><a href="#tabs-2">Potential <br />Issues</a></li>
                        </ul>
                    </div>
                    <div id="tabs-1">
                        <h2 class="hr-bg"><span>General Purposes</span></h2>
                        <label>Drug Info</label>
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RootObject.results[0].patient.drug[0].medicinalproduct)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RootObject.results[0].patient.drug[0].drugcharacterization)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RootObject.results[0].patient.drug[0].drugindication)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RootObject.results[0].patient.drug[0].drugdosagetext)
                                </th>
                            </tr>
                            @foreach (var item in Model.Drugs)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.medicinalproduct)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugcharacterizationtext)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugindication)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugadministrationroutetext)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugdosagetext)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugstartdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.drugenddate)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div id="tabs-2">
                        <h2 class="hr-bg"><span>General Purposes</span></h2>
                        <label>Reactions</label>
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RootObject.results[0].patient.reaction[0].reactionmeddrapt)
                                </th>
                            </tr>
                            @foreach (var item in Model.Reactions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.reactionmeddrapt)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <div class="container hidden-xs">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-12">
                <div class="testimonial quote-1">
                    <blockquote>&quot;Life moves fast! I don't always slow down to listen to my doctor.  I am so glad that I have MedFinder to research my properly medications when I have the time&quot;</blockquote>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-8 col-xs-12">
                <div class="testimonial quote-2">
                    <blockquote>“I depend on MedFinder to understand how to manage my medications.  My pharmacist and doctor do advise me, but I like to own my own care plan.”</blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <div class="container visible-xs">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="testimonial quote-3">
                    <blockquote>
                        &quot;We depend on each other. 
                        It makes me feel better to do my own research about what my husband is  taking!&quot;
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

</div>
